<div class="blog-cards card">
    <div class="card-header">
        <div class="blog-title">
            {{title}}
        </div>
        <div class="blog-author">
            Posted by {{user_id}}
            {{!-- on {{date_created}} --}}
        </div>
        
    </div>
</div>
