<section class="dashboard post row">
    <h3>Your Blog Posts</h3>
    {{#each blogs as |blog|}}
    <div class="col-1"></div>
    <div class="blog-cards card col-10">
        <div class="card-header" data-id="{{id}}">
            <div class="blog-title">
                <a href="/dashboard/{{id}}">{{title}}</a>
            </div>
            <div class="blog-author">
                {{ format_date date_created }}
            </div>
    
        </div>
    </div>
    <div class="col-1"></div>
    {{/each}}

    <div class="col-5"></div>
    <button id="new-post" class=" col-2">+ New Post</button>
    <div class="col-5"></div>
</section>

<script src="/js/dashboard.js"></script>