<section class="dashboard">
    <h3>Your Blog Posts</h3>
    {{#each blogs as |blog|}}
    {{> blog-summary}}
    {{/each}}

    <button id="new-post">+ New Post</button>
</section>

{{!-- <script src="/js/blog-post.js"></script> --}}
<script src="/js/dashboard.js"></script>