<h3>Create New Post</h3>
<section id="new-post">
    <form>
        <div class="mb-3">
            <label for="blog-title" class="form-label">Title</label>
            <input type="test" class="blog-title" id="blog-title" placeholder="Enter title here">
        </div>
        <div class="mb-3">
            <label for="blog-content" class="form-label">Content</label>
            <textarea class="form-control" id="blog-content" rows="3"></textarea>
        </div>
        <button id="create-post">Create</button>
    </form>
</section>

<script src="/js/new-post.js"></script>