<form action="/users/signup" method="POST" class="signup-form">
    <label for="name">Username:</label>
    <input type="text" id="name" name="name" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button id="submit" type="submit">Sign Up</button>
</form>

<script src="/js/signup.js"></script>