* {
    font-family: 'Montserrat', sans-serif;
}

main {
    font-size: 18px;
}

/* ---------- nav bar ---------- */

.navbar-brand {
    color: rgb(70, 70, 255);
    font-size: 35px !important;
    font-family: 'Chakra Petch', sans-serif;
    font-style: italic;

}

.nav-link {
    color: white  !important;
    font-family: 'Orbit', sans-serif;
}

.active {
    background-color: rgb(70, 70, 255);
}

/* ---------- all ---------- */

.post {
    margin-top: 2rem !important;
}

.blog-title a {
    text-decoration: none;
    font-weight: 500;
}

.blog-author, .comment-author {
    font-size: 16px;
    font-style: italic;
}

.blog-cards {
    margin-bottom: 2rem;
    padding: 0 !important;
}

label, .button {
    font-family: 'Orbit', sans-serif;
}

form {
    background-color: #BCBCBC;
    padding: 2rem 1rem 2rem 1rem;
}

button {
    width: 100%;
    font-size: 18px;
}

/* ---------- homepage ---------- */

.card-header {
    display: flex;
    justify-content: space-between;
}

.blog-title a {
    color: black;
}
.blog-title a:hover {
    color: black;
}

/* ---------- posts ---------- */

.blog-cards {
    margin-top: 2rem;
}

.comment-author {
    color: #A6A6A6;
}

/* ---------- dashboard ---------- */

.dashboard {
    text-align: center;
}

.new-blog {
    margin-top: 2rem !important;
}

.input {
    display: flex;
    flex-direction: column;
}

#update-post {
    margin-bottom: 1rem;
}

/* ---------- login-form & signup-form---------- */

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
}

#submit {
    margin-top: 1rem;
}

.redirection {
    text-align: end;
    margin-right: 10rem;
    margin-top: 0.5rem;
}

/* ---------- logout button---------- */
#logout {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
}