.nav-link {
    color: white !important;
}

.blog-cards {
    width: 80%;
    margin: 1rem 0 1rem 0;
}

.post, .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

#new-post {
    display: flex;
    justify-content: center;
}

form {
    background-color: grey;
    width: 80%;
}

#blog-title {
    width: 100%;
}